table{
  border-color: white;
  border-collapse: collapse;
}



tr,th,td
{
  color:white;
  border: none;
}

div
{
  background-color: black;
  padding: 50px;
}

h1
{
  color: white;
  font-weight: 800;
  text-align: center;
}